[Unit]
Description=EvoHome Prometheus Export
After=docker.service
Requires=docker.service

[Service]
# The secrets environment file contains your username and password to the evohome web site. Secure this file accordingly.
EnvironmentFile=/path/to/secrets.env
Environment="DNS_SERVER=8.8.8.8"
# Put your image name here to get out of docker hub <docker hub user>/<repo>:<tag>
Environment="DOCKER_IMAGE=<put image name here>"
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull ${DOCKER_IMAGE}
ExecStart=/usr/bin/docker run --dns=${DNS_SERVER} -p 8080:8080 -e EVOHOME_USERNAME=${EVOHOME_USERNAME} -e EVOHOME_PASSWORD=${EVOHOME_PASSWORD} --rm --name %n ${DOCKER_IMAGE}
ExecStop=/usr/bin/docker stop --time=60 %n
ExecStopPost=-/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target